.error-404.not-found .fourohfour-columns-2 .col-1,
.error-404.not-found .fourohfour-columns-2 .col-2 {
  max-width: unset;
}

.error-404.not-found .fourohfour-columns-2 .col-1 .widget_product_search {
  margin-bottom: 0;
}

.error-404.not-found .add_to_cart_button {
  margin-top: 10px;
  width: 100%;
  background: var(--green);
}