.has-green-color {
  color: var(--green) !important;
}

.has-green-background-color {
  background-color: var(--green) !important;
}

.has-blue-color {
  color: var(--blue) !important;
}

.has-blue-background-color {
  background-color: var(--blue) !important;
}

.has-white-color {
  color: var(--white) !important;
}

.has-white-background-color {
  background-color: var(--white) !important;
}

.has-black-color {
  color: var(--black) !important;
}

.has-black-background-color {
  background-color: var(--black) !important;
}

.has-gray-color {
  color: var(--gray) !important;
}

.has-gray-background-color {
  background-color: var(--gray) !important;
}