.footer-widgets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.footer-widgets block {
  width: 49%;
}

.footer-widgets block:nth-child(odd) {
  margin-right: 2%;
}

.site-info {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-widgets block {
    width: 100%;
  }

  .footer-widgets block:nth-child(odd) {
    margin-right: 0;
  }

  .postcode-checker .postcode-checker-input,
  .postcode-checker-button {
    width: 100%;
  }

  .postcode-checker-button {
    margin-top: 10px;
    text-align: center;
  }
}

.widget .widget-title {
  padding: 0;
}