@font-face {
	font-family: Roboto;
	font-style: normal;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

 @font-face {
	font-family: Teko;
	font-style: normal;
  src: url(../fonts/Teko-Regular.ttf);
}


body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Teko, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.8pt;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		font-size: 16px;
	}
}
