@font-face {
	font-family: Roboto;
	font-style: normal;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

 @font-face {
	font-family: Teko;
	font-style: normal;
  src: url(../fonts/Teko-Regular.ttf);
}


body {
	padding-top: 88px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

p,
.woocommerce-checkout #customer_details .shipping-pickup-store .wpll-pickup-info {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

#main .entry-header {
	padding-bottom: 1.5rem;
}

.widget-title,
.woocommerce-info .button.wc-forward,
label[for="pwgc-redeem-gift-card-number"],
.woocommerce-shipping-totals.shipping th,
h1,
h2,
h3,
h4,
h5,
.woocommerce-cart table.cart td.actions label,
.websites-depot-checkout-review-shipping-table tbody th,
.swatch,
h6 {
	font-family: Teko, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.5pt;
	color: var(--black);
	font-weight: normal;
}

h1 {
	font-size: 74px;
}

h2,
.widget .widget-title,
.macro-container__box-title,
.macro-container__box-macro,
.product_title.entry-title {
	font-size: 32px;
}

h3,
label[for="pwgc-redeem-gift-card-number"],
.woocommerce-shipping-totals.shipping th,
.woocommerce-cart table.cart td.actions label,
.websites-depot-checkout-review-shipping-table tbody th,
.testimonial-text,
ul.products li.product .woocommerce-loop-product__title,
.single-product .price,
.woocommerce .products .product .price,
.postcode-checker-msg {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5,
.tawcvs-swatches .swatch,
.single-product .c-accordion__title {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 30px;
	}

	h2,
	.widget .widget-title,
	.product_title.entry-title {
		font-size: 28px;
	}

	h3,
	label[for="pwgc-redeem-gift-card-number"],
	.woocommerce-shipping-totals.shipping th,
	.woocommerce-cart table.cart td.actions label,
	.websites-depot-checkout-review-shipping-table tbody th,
	.single-product .price,
	.macro-container__box-title,
	.macro-container__box-macro,
	.postcode-checker-msg {
		font-size: 24px;
	}

	h4,
	.testimonial-text-container .testimonial-text,
	.woocommerce .products .product .price,
	ul.products li.product .woocommerce-loop-product__title {
		font-size: 20px;
	}

	h5,
	.single-product .c-accordion__title {
		font-size: 18px;
	}

	h6,
	.tawcvs-swatches .swatch {
		font-size: 14px;
	}

	p,
	.woocommerce-checkout #customer_details .shipping-pickup-store .wpll-pickup-info {
		font-size: 16px;
	}
}
