.storefront-sorting {
  display: none;
}

@media screen and (max-width: 768px) {
  .woocommerce .products {
    display: flex;
    flex-wrap: wrap;
  }

  .woocommerce .products .product {
    width: 48%;
  }

  .woocommerce .products .product:nth-child(odd) {
    margin-right: 4%;
  }
}

.woocommerce-page .product-type-simple .cart {
  display: none;
}

.woocommerce-page .product_type_variable.add_to_cart_button {
  display: none;
}

.swatch__tooltip {
  display: none;
}

.tawcvs-swatches .swatch.selected {
  pointer-events: none;
  border-color: var(--green);
  box-shadow: inset 0 -4px 0 var(--white);
}

.select-size {
  margin-bottom: 0;
  background: var(--black);
  padding: 3px;
  color: var(--white);
}
