.woocommerce .checkout .col2-set .col-1,
.woocommerce .checkout .col2-set .col-2 {
  max-width: none;
}

.wc-paytrail-methods-container .wc-paytrail-method {
  width: 20%;
  background-size: 85%;
  margin: 0;
  height: auto;
}

.woocommerce .checkout .col2-set .col-1 .form-row,
.woocommerce .checkout .col2-set .col-2 .form-row {
  display: block;
}

#payment .payment_methods li .payment_box {
  padding: 0;
}

#payment .payment_methods li .payment_box .wc-paytrail-methods {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-checkout #order_review .order-total td {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .woocommerce-checkout #customer_details {
    width: 50%;
    margin-right: 1%;
  }

  .woocommerce-checkout #order_review,
  .woocommerce-checkout #order_review_heading {
    color: var(--black);
    width: 49%;
  }

  .woocommerce-checkout #order_review .product-total {
    width: 20%;
  }

  .woocommerce-checkout #order_review .woocommerce-shipping-totals {
    display: flex;
    flex-direction: column;
  }
}

#pwgc-redeem-gift-card-form {
  width: 100%;
}

.free-shipping-notice-wrapper .woocommerce-info,
.woocommerce-cart .woocommerce-info {
  background: var(--green);
}

.woocommerce-checkout th:last-child,
.woocommerce-checkout td:last-child {
  text-align: right;
}

.woocommerce-checkout tr.woocommerce-shipping-totals.shipping td,
.woocommerce-checkout tr.woocommerce-shipping-totals.shipping th {
  text-align: left;
}

.woocommerce-checkout td,
.woocommerce-checkout th {
  padding: 7px;
}

#payment .payment_methods li .payment_box {
  padding: 0;
}

#payment .payment_methods li .payment_box .wc-paytrail-methods {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-info {
  background-color: var(--blue);
}

.woocommerce-message:before {
  content: '';
}

.woocommerce-shipping-totals select {
  padding: 8px;
  width: 100%;
  max-width: 100%;
}

.woocommerce-checkout #postcode-checker,
.woocommerce-checkout .websites-depot-checkout-review-shipping-table {
  background: var(--black);
  padding: 10px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .woocommerce-checkout #order_review .product-total {
    width: 15%;
  }

.woocommerce-checkout #postcode-checker,
.woocommerce-checkout .websites-depot-checkout-review-shipping-table {
  background: var(--black);
  padding: 10px;
  width: 100%;
}

  .woocommerce-checkout .shop_table {
    font-size: 16px;
  }

  .free-shipping-notice-wrapper .woocommerce-info .wc-forward {
    margin: 0;
  }

  .woocommerce-checkout .shop_table td,
  .woocommerce-checkout .shop_table th {
    padding: 5px;
  }

  .woocommerce-checkout #order_review .woocommerce-shipping-totals {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-info,
  .woocommerce-message {
    border-left: none;
    padding: 5px 10px;
  }

  .wc-paytrail-methods-container .wc-paytrail-method {
    width: 25%;
    background-size: 85%;
    margin: 0;
    height: auto;
  }
}

#page .wc-paytrail-methods-container .wc-paytrail-method input[type="radio"] {
  margin: 60px 0 0 !important;
}

#order_review .woocommerce-shipping-totals {
  padding: 5px;
}

.websites-depot-checkout-review-shipping-table tbody th {
  color: var(--black);
}

.websites-depot-checkout-review-shipping-table tbody tr {
  display: flex;
  flex-direction: column;
}

.woocommerce-terms-and-conditions-wrapper {
  display: none;
}

.woocommerce-checkout #postcode-checker p {
  margin-bottom: 0;
  color: var(--white);
}

.woocommerce-checkout #postcode-checker p.msg-we-deliver {
  color: var(--green);
}

.woocommerce-checkout #postcode-checker .postcode-checker-title,
.woocommerce-checkout .websites-depot-checkout-review-shipping-table th,
.woocommerce-checkout .websites-depot-checkout-review-shipping-table td {
  color: var(--white);
  font-weight: normal;
}

.woocommerce-checkout #postcode-checker .postcode-checker-input {
  font-size: 16px;
}

.woocommerce-checkout .websites-depot-checkout-review-shipping-table {
  margin-bottom: 2rem;
}

.woocommerce-checkout .websites-depot-checkout-review-shipping-table th,
.woocommerce-checkout .websites-depot-checkout-review-shipping-table td {
  background: transparent;
  border: none;
}

.woocommerce-checkout #postcode-checker:not(:first-child) {
  display: none;
}

.woocommerce-checkout #order_review table {
  margin-bottom: 0;
}

.woocommerce-checkout #payment .place-order {
  margin-top: 0;
  margin-left: 0;
}

.woocommerce-checkout #order_review table td,
.woocommerce-checkout #order_review table th {
  background: transparent;
}
