.free-shipping-notice-wrapper .woocommerce-info, .woocommerce-cart .woocommerce-info {
display: flex;
}

.free-shipping-notice-wrapper .woocommerce-info, .woocommerce-cart .woocommerce-info .button.wc-forward {
  display: flex;
  order: 10;
  border-left: none;
  margin-left: auto;
}


.woocommerce-cart .woocommerce-info .button.wc-forward {
  color: var(--blue);
}

.woocommerce-info,
.woocommerce-info .button.wc-forward,
.woocommerce-message {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .woocommerce-info,
  .woocommerce-info .button.wc-forward,
  .woocommerce-message {
    font-size: 14px;
  }

  .woocommerce-info, .woocommerce-cart .woocommerce-info .button.wc-forward {
    display: flex;
    order: 10;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
