.storefront-sorting {
  display: none;
}

@media screen and (max-width: 768px) {
  .woocommerce .products {
    display: flex;
    flex-wrap: wrap;
  }

  .woocommerce .products .product {
    width: 48%;
  }

  .woocommerce .products .product:nth-child(odd) {
    margin-right: 4%;
  }
}