.woocommerce-variation-description {
  display: none;
}

.single-product .c-accordion__title {
  background: var(--green);
  color: var(--white);
  padding: 10px;
}

.single-product .c-accordion__title:after {
  color: inherit;
  right: 10px;
}

.single-product .single_variation_wrap {
  width: 100%;
}

.single-product .product_title {
  text-align: left;
}

.single-product .woocommerce-variation-add-to-cart {
  display: flex;
  flex-wrap: wrap;
}

.single-product div.product form.cart .quantity {
  float: unset;
  margin-right: unset;
}

.single-product .added_to_cart.wc-forward {
  width: 100%;
  margin-top: 10px;
  background: var(--blue);
  text-transform: uppercase;
  text-align: center;
}
