.wp-block-columns .wp-block-column.column-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
  border-radius: 10px;
}

.wp-block-columns .wp-block-column.column-card p,
.wp-block-columns .wp-block-column.column-card h2 {
  padding: 0 16px;
}